<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>home-task-node-express-simple-site</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"></div>
            <div class="menu">
                <a href="/">home</a>
                <a href="/portfolio">portfolio</a>
                <a href="/contact">contact</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="page-title">
                <h1><%= title%></h1>
                <span class="description">
                    <h2><%=desc%></h2>
                </span>
            </div>
            
            <div class="article">
                <div class="content-block">
                    <% for (let i = 0; i < (post.length); i++) {%>
                        <div class="post-box">
                            <h2 class="post-title"><%- post[i].title%></h2>
                            <span class="post-desctiption"><%- post[i].content%></span>
                        </div>

                        <% } %>
                    </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="contact-form">
                <form action="/success" method="post">
                    <input type="text" name="text">
                    <input type="submit" value="send form">
                </form>
            </div>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>