p, text {
  font-size: 16px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

header .container .logo {
  background: url(/img/logo_mobile.svg) left center no-repeat;
  width: 300px;
  height: 100px;
  display: block;
}

header .container .menu a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: black;
  padding-right: 10px;
}

header .container .menu a:last-child {
  padding-right: 0;
}

main .container .page-title {
  text-align: center;
  text-transform: uppercase;
}

main .container .page-title .description {
  text-align: center;
  text-transform: none;
  font-size: 0.7em;
}

main .container .article {
  width: 100%;
}

main .container .article .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  margin: auto;
}

main .container .article .content-block div {
  padding-right: 10px;
  width: calc(100%/3);
}

main .container .article .content-block div:last-child {
  padding-right: 0px;
}

main .container .article .content-block div .post-title {
  text-transform: uppercase;
  text-align: center;
}

footer {
  width: 100%;
  background: #dad8d8;
  min-height: calc(100vh - 80px);
  text-align: center;
  line-height: 100px;
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */