p, text {
    font-size: 16px;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: auto;
        .logo {
            background: url(/img/logo_mobile.svg) left center no-repeat;
            width: 300px;
            height: 100px;
            display: block;
        }
        .menu {
            a {
                font-size: 1.2em;
                text-transform: uppercase;
                color: black;
                padding-right: 10px;
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
    
}

main {
    .container {
        .page-title {
            text-align: center;
            text-transform: uppercase;
            .description {
                text-align: center;
                text-transform: none;
                font-size: 0.7em;
            }
        }
        .article {
            width: 100%;
            .content-block {
                display: flex;
                justify-content: center;
                width: 1200px;
                margin: auto;
                div {
                    padding-right: 10px;
                    width: calc(100%/3);
                    &:last-child {
                        padding-right: 0px; 
                    }
                    .post-title {
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }

    }
}

footer {
    width: 100%;
    background: #dad8d8;
    min-height: calc(100vh - 80px);
    text-align: center;
    line-height: 100px;
    margin-top: 50px;
}